body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.cbutton {
align-items: center;
background-color: Transparent;
color: black;
font-size: 80px;
border: 1px solid black;
border-radius: 15px;
}
h1 {
color: white;
}
p {
   color: black;
}